LoadModule ssl_module modules/mod_ssl.so

{% for port in ports_http %}
Listen {{ port }}
{% endfor %}

<IfModule ssl_module>
        {% for port in ports_https %}
        Listen {{ port }}
        {% endfor %}
</IfModule>

<IfModule mod_gnutls.c>
        {% for port in ports_https %}
        Listen {{ port }}
        {% endfor %}
</IfModule>

{% for virtualhost in virtualhosts %}
<VirtualHost *:{{ virtualhost.port }}>
        # The ServerName directive sets the request scheme, hostname and port that
        # the server uses to identify itself. This is used when creating
        # redirection URLs. In the context of virtual hosts, the ServerName
        # specifies what hostname must appear in the request's Host: header to
        # match this virtual host. For the default virtual host (this file) this
        # value is not decisive as it is used as a last resort host regardless.
        # However, you must set it for any further virtual host explicitly.
        {% if virtualhost.servername is defined %}
        ServerName {{ virtualhost.servername }}
        {% endif %}

        ServerAdmin {{ virtualhost.serveradmin | default("webmaster@localhost") }}
        DocumentRoot {{ virtualhost.documentroot }}

        {% if virtualhost.ssl is defined %}
        SSLEngine on
        SSLCertificateFile "{{ virtualhost.ssl.cert_path }}"
        SSLCertificateKeyFile "{{ virtualhost.ssl.key_path }}"
        {% endif %}

        # Available loglevels: trace8, ..., trace1, debug, info, notice, warn,
        # error, crit, alert, emerg.
        # It is also possible to configure the loglevel for particular
        # modules, e.g.
        #LogLevel info ssl:warn

        ErrorLog ${APACHE_LOG_DIR}/error.log
        CustomLog ${APACHE_LOG_DIR}/access.log combined

        # For most configuration files from conf-available/, which are
        # enabled or disabled at a global level, it is possible to
        # include a line for only one particular virtual host. For example the
        # following line enables the CGI configuration for this host only
        # after it has been globally disabled with "a2disconf".
        #Include conf-available/serve-cgi-bin.conf
</VirtualHost>
{% endfor %}